<div class="message-view-container">
  @if(message){
  <p-panel>
    <ng-template #header id="message-view-header">
      <div class="header-content">
        <div class="header-content-left">
          <!-- <p-avatar image="https://primefaces.org/cdn/primevue/images/avatar/amyelsner.png" shape="circle" /> -->

          <div class="subject">{{ message.subject }}</div>
          <div class="sende-info contact-info">
            from:
            <span class="contact-info-value">{{
              senderContact
                ? senderContact.name + " (" + senderContact.email + ")"
                : message.senderEmail
            }}</span>
          </div>
          <div class="recipient-info contact-info">
            to:
            <span class="contact-info-value">{{
              recipientContact
                ? recipientContact.name + " (" + recipientContact.email + ")"
                : message.recipientEmail
            }}</span>
          </div>
        </div>
        <div class="header-content-right">
          <div class="message-date">
            {{ message.date | date : "dd MMM yyy, HH:mm" }}
          </div>
        </div>
      </div>
    </ng-template>
    <p class="m-0" class [textContent]="message.body"></p> </p-panel
  >}
</div>
