.inbox-table-container {
  min-height: 250px;
  height: calc(100vh - var(--navbar-height) - 85px);
}

::ng-deep {
  #inbox-table {
    tr.unread {
      background-color: var(--p-primary-950);
      color: var(--primary-color-text);
      font-weight: 700;
    }
    tr.isSelected {
      background-color: var(--p-datatable-row-selected-background);
    }
  }
}
