@import "primeicons/primeicons.css";
@import "@fortawesome/fontawesome-free/css/all.css";

@font-face {
  font-family: "Share Tech Mono";
  src: url("./assets/fonts/ShareTechMono-Regular.ttf");
}

:root {
  --background-color: #303444;
  --background-color-light: #383c4c;

  --navbar-height: 50px;
}

html {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

  body {
    margin: 0;
  }
}

::-webkit-scrollbar {
  width: 1rem;
}

::-webkit-scrollbar-track {
  background-color: #555;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
}
